.ipynb_checkpoints/
jupyter/funda_train.csv
jupyter/biggidata/*.csv
jupyter/bigdata/*.xlsx
jupyter/1112_PJT002_test.csv
jupyter/1112_PJT002_train.csv
jupyter/1112_PJT002_validation.csv
jupyter/1118_digit-recognizer/*.csv
program/pycharm/__pycache__
program/pycharm/.idea
program/pycharm/venv
smalldata/*.ai
TB_T_RSPOP_ADMI.txt
jupyter/빅캠 인구수.csv 
Recommendation/movie/*.csv
Recommendation/movie/*.pdf
Recommendation/movie/*.tsv
study/
sql/*.pdf
jupyter/zz
jupyter/dacon
jupyter/1125_bike/*.csv
program/.idea
embedding/embedding/fasttext.vec
embedding/presentation 
icon? 
