body {
    background-color: white;
    font-family: Helvetica;
}

h1 {
    color: navy;
    /* margin-left: 20px; */
    padding: 10px; /* padding은 안쪽 */
    margin: 10px; /* margin은 바깥쪽 */
    /* padding-bottom: 12px; */
}